<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13749087601-cpadrkoi6vn6cce4l67h1lm1ptp1qdun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13749087601-cpadrkoi6vn6cce4l67h1lm1ptp1qdun</string>
	<key>API_KEY</key>
	<string>AIzaSyDLx-F8QB8pBudKfQbAhGDO2ORJLV77CPA</string>
	<key>GCM_SENDER_ID</key>
	<string>13749087601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elgindy.blogapp</string>
	<key>PROJECT_ID</key>
	<string>blog-app-flutter-62fc2</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-flutter-62fc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13749087601:ios:1a6d8abe32be19d9e59ad0</string>
	<key>DATABASE_URL</key>
	<string>https://blog-app-flutter-62fc2.firebaseio.com</string>
</dict>
</plist>